*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f1f5f8;
  width: 100%;
  min-height: 100vh;
  background-color: #4b145b;
}

.container{
  padding: 40px;
  width: 920px;
  display: flex;
  border-radius: 5px;
  margin: 50px auto 0;
  background-color: #f1f5f8;
}

.title{
  width: 30%;
  margin-right: 50px;
}

.content{
  flex: 1;
}

.question{
  height: 65px;
  overflow: hidden;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: all ease 0.3s;
}

.question .header{
  display: flex;
  justify-content: space-between;
}

.question:not(:last-child){
  margin-bottom: 20px;
}

.question i.minus{
  display: none;
}

.question.active i.minus{
  display: block;
}

.question.active i.plus{
  display: none;
}

.header i{
  font-size: 20px;
  cursor: pointer;
  color: #646464;
}

.desc{
  margin-top: 20px;
}